--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple


fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
langchain
langchain-core
langchain-community
langchain-chroma
langchain-huggingface
langchain-text-splitters
langgraph
chromadb
sentence-transformers
transformers
torch
requests
robotframework
robotframework-requests
pytest
pytest-asyncio
httpx
robotframework-seleniumlibrary
langchain-chroma
langchain-huggingface
sentence-transformers
langchain-text-splitters
python-jose[cryptography]
passlib[bcrypt]
boto3
redis
aiokafka
SQLAlchemy
pydantic-settings
psycopg2-binary>=2.9,<3
